mixin button(cls, content)
    button(class='btn btn-'+cls)= content

mixin button-lg(cls, content)
    button(class='btn btn-lg btn-'+cls)= content

mixin button-block(cls, content)
    button(class='btn btn-block btn-'+cls)= content